Flask==2.2.5
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.5.2
Flask-Migrate==4.0.4
Flask-Cors==4.0.0
Flask-RESTful==0.3.9  # Optional, but good for REST APIs
PyMySQL
python-dotenv==1.0.0
Werkzeug==2.2.3
gunicorn
bcrypt==4.0.1
